@charset "UTF-8";
/* CSS Document */
p{
	color: darkkhaki;
	font-family: old Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 16px;
	background-color: blueviolet;
	padding: 20px;
}
h2{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: yellow
}
h1{
	font-family: petarperichich;
	color: yellow;
	font-size: 40px
}
li{
	display: inline-table;
	background-color: violet;
	padding: 20px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}
img{
	height: 300px
}
video{
	height: 300px
}
.videopoz {
	background-image: url("digitalni_multimedij/video.jpg");
	background-color: blueviolet;
	background-attachment: scroll;
	background-position: center;
	background-size: cover
}

.link{
	display: inline-table;
	padding: 40px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	background-image: url("digitalni_multimedij/videocopy.jpg");
	background-size: cover
}
.vjezbepoz {
		background-image: url("digitalni_multimedij/vjezbe.jpg");
	background-color: blueviolet;
	background-position: center;
	background-size: contain
}
.link2 {
		display: inline-table;
	padding: 40px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	background-image: url("digitalni_multimedij/vjezbe.jpg");
	background-size: cover
}
.omeni{
		background-image: url("digitalni_multimedij/omeni.jpg");
	background-color: blueviolet;
	background-position: center;
	background-size: contain
}
.link3{
		display: inline-table;
	padding: 40px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	background-image: url("digitalni_multimedij/omeni.jpg");
	background-size: cover
}
.link4{
		display: inline-table;
	padding: 40px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	background-image: url("digitalni_multimedij/dm.jpg");
	background-size: cover
}
.dm{
		background-image: url("digitalni_multimedij/dm.jpg");
	background-color: blueviolet;
	background-position: center;
	background-size: contain
}

@font-face{
	font-family: petarperichich;
	src: url("petarperichich.ttf");
	}
